# Database connection string for Prisma (this needs to be here for running locally w/o docker "npm run dev")
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/takethelead?schema=public"

# PostgreSQL Docker credentials
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="takethelead"
POSTGRES_PORT="5432"

# Browser-facing port for the Dockerized app
APP_PORT="5173"
